@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.form-title {
    font-size: 4.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 8rem;
}

.login-form {
    margin: 3rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #AA9EA7;
    font-size: 1.2rem;
}

.login-form input {
    background-color: #bddff354 !important;
    border-bottom: 0 !important;
    border-radius: 8px !important;
    color: black;
    font-size: 1.2rem;
    height: 3.5rem !important;
    padding-left: 5% !important;
    margin-top: 2rem !important;
    width: 95% !important;
}

.login-form button {
    background-color: #313ddd;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 20px 20px 0 rgba(16, 31, 224, 0.2), 0 5px 20px 0 rgba(16, 31, 224, 0.19);
    color: white;
    font-size: 1.2rem;
    height: 3.5rem;
    margin-top: 2rem;
    width: 100%;
}

.message {
    color: red;
    font-size: 1.2rem;
    height: 2.75rem;
    line-height: 2.75rem;
    margin-left: 15%;
    margin-top: 3rem;
    width: 70%;
}

.summary {
    background-color: #292a2c;
    font-size: 1.85rem;
    height: 54vh;
    padding: 3rem;
}

.summary .row {
    padding-top: 3vh;
    padding-bottom: 2vh;
}

.net-income {
    color: #18A657;
    text-shadow: 2px 2px 8px #18A657;
}

.net-expense {
    color: red;
    text-shadow: 2px 2px 8px #FF0000;
}

.net-total {
    color: white;
    font-size: 3.5rem;
    text-shadow: 2px 2px 5px #FFFFFF;
}

.know-more {
    background-color: white;
    border: 0;
    border-radius: 20px;
    color: black;
    font-size: 1.2rem;
    height: 3.5rem;
    margin-top: 1rem;
    margin-left: 27vw;
    padding: 1rem;
    width: 40%;
}

.add-new {
    margin: 3rem;
}

.add {
    background-color: #313ddd;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 20px 20px 0 rgba(16, 31, 224, 0.2), 0 5px 20px 0 rgba(16, 31, 224, 0.19);
    color: white;
    font-size: 1.2rem;
    height: 3.5rem;
    margin-top: 2rem;
    width: 100%;
}

.logout {
    background-color: #292a2c;
    border: 0;
    color: white;
    position: fixed;
    right: 1.3rem;
    top: 1.3rem;
}