{% extends './base.html' %}
{% block content %}
{% load static %}

<div class="row register-title">
    <div class="col s12 m4 offset-m4">
        <h1 class="form-title">bonjour!</h1>
        <div class="login-form center">
            <form action="register" method="POST">
                {% csrf_token %}
                <div>
                    <input type="text" name="username" id="username" placeholder="Username" required>
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="Email ID" required>
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div>
                    <input type="password" name="confirm" id="confirm" placeholder="Confirm password" onkeyup="validateFunction()">
                </div>
                <button id="register" type="submit" disabled>Register</button>
                <div class="message">{{message}}</div>
                <div class="login-button"><a href="login">Already a user?</a></div>
            </form>
        </div>
    </div>
</div>

<script>
    function validateFunction() {
        register = document.getElementById('register');
        password = document.getElementById('password').value;
        confirmPass = document.getElementById('confirm').value;
        if(password==confirmPass) {
            register.disabled = false;
        }
        else {
            register.disabled = true;
        }
    }
</script>


{% endblock %}